



.burger-image{
    height:5cm;
    width:5cm;
    margin-left:70%;
    position: relative;
    animation: hello 1s ease-in-out infinite alternate;

}
@keyframes hello {
  from{
    top:-20px;
  }
  to{
    top:50px;
}
}
