*{
    margin:0px;
    padding:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    background-color:rgba(41, 41, 207, 0.991);
    color:white;
   
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    /* border:2px solid black; */
    background-color:rgb(12, 12, 132)

}
ul li{
    list-style: none;
    display:inline-block;
    padding:20px;
    transition: 2s;
    margin-right: 10px;


}
.logo-text::first-letter{
    color:red;
    font-size: larger;
}
ul li:hover{
    border-bottom: 2px solid black;
}
.main-text{
  
 

}
.nav-below{
      display: block;

    align-items: center;
    margin-top:20%;
    font-size:30px;
    margin-left:350px;
    

}
.register-button{
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-bottom: 20px;
    padding:10px 40px 10px 40px;
    border-radius: 14px;
    font-size: 20px;
    background-color: rgb(48, 190, 190);
    border-style: none;
    color:white;
    transition: 1s;
    box-shadow: 10px 10px 10px red;
}
.project-text{
    margin-left :116px;
    font-size: 25px;
}

.register-button:hover{
    background-color: rgba(139, 161, 253, 0.775);
    color:black;

}
.child-div{
    border:2px solid black;
    height:6cm;
    width:6cm;
    margin:20px;
    box-shadow: 5px 5px 10px;
    transition: 1s;

}
.parent-div{
    display: flex;
    justify-content: center;

}
.services{
    display: flex;
    justify-content: center;
}
.logo-text{
    margin:10px;
    font-size: 30px;
}
.child-div:hover{
    transform: translatey(-20px);
}


/* box */
.box{
    /* border:2px solid black; */
    height:5cm;
    width:5cm;
    margin-left:20px;
}
.box img{
    height:5cm;
    width:5cm;
    transition: 1s;
}
.box img:hover{
    transform: scale(1.08);
}
.picture{
    height:5cm;
    width:5cm;
    border:2px solid black;
    margin-left:20px;
    margin-top:10px;
    position:absolute;
    overflow: hidden;
} 
.picture img{
    height:5cm;
    width:5cm;
}

.nature{
    position:absolute;
    height:5cm;
    width:5cm;
    top:0px;
    left:0px;
    color:rgb(20, 46, 14);
    
}
.nature:hover{
    background-color:red;
    transform: translatey(80%);
    transition: 1s;
    
}
